---
import { SITE_TITLE, SITE_LOGO } from "../config";
---

<header
  class="flex items-center justify-between py-6 max-w-7xl px-6 md:px-6 mx-auto"
> 
  <span class="text-xl font-bold cutom-title flex">
    <img src={SITE_LOGO} alt={SITE_TITLE} class="w-7 h-7 mr-2 hidden sm:block" />
    <a href="/">
      [{SITE_TITLE}]
    </a>
  </span>
  <nav>
    <ul class="flex items-center justify-center space-x-4 custom-link">
      <li>
        <a href="/">[Home]</a>
      </li>
      <li>
        <a href="/blog">[Posts]</a>
      </li>
      <li>
        <a href="/about">[About]</a>
      </li>
    </ul>
  </nav>
</header>
